<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>
        Pipes incluidos en Angular - usualmente en el Common Module.
    </p>
</div>
<div class="grid">
    <div class="col-4">
       <p-card header="uppercase" [subheader]="namelower | uppercase">
           {{ namelower | uppercase }}
       </p-card>
    </div>
    <div class="col-4">
        <p-card header="lowercase" [subheader]="namelower | lowercase">
            {{ namelower | lowercase }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="tittlecase" [subheader]="nameComplete | titlecase">
            {{ nameComplete }}
        </p-card>
    </div>
</div>
<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipes para mostrar las fechas con un formato especifio.
    </p>
</div>
<div class="grid">
    <div class="col-6">
       <p-card>
           <ul>
               <li>fecha</li>
               <li>fecha | date</li>
               <li>fecha | date:'short'</li>
               <li>fecha | date:'long'</li>
               <li>fecha | date:'MMM'</li>
               <li>fecha | date: 'MMM dd, yyyy'</li>
           </ul>
       </p-card>
    </div>
    <div class="col-6">
        <p-card>
            <ul>
                <li>{{ customDate }}</li>
                <li>{{ customDate | date }}</li>
                <li>{{ customDate | date:'short' }}</li>
                <li>{{ customDate | date:'long' }}</li>
                <li>{{ customDate | date:'MMM' }}</li>
                <li>{{ customDate | date:'MMM dd, yyyy' }}</li>
            </ul>
        </p-card>
     </div>
</div>