<app-menu></app-menu>

<router-outlet></router-outlet>

<!-- <div class="text-layout">
  <h1>{{ name |  titlecase }}</h1>
  <h1>{{ value |  number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>

<button pButton (click)="showName()" label=" cambiar nombre"
  icon="pi pi-angle-double-right" iconPos="right" class="p-button-help"></button>
<br>
<br>
<p-card [header]="name | titlecase" subheader="simple subheader">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, architecto? Amet aut quas officiis rem cupiditate, voluptatem assumenda. Sapiente placeat corporis saepe, eaque architecto fugit nobis enim ipsum consequuntur quod!
  </p>
</p-card> -->