/* You can add global styles to this file, and also import other style files */

html, body { 
    margin: 10px;
    background-color: var( --surface-b );
    font-family: var( --font-family ); 
}

.text-layout {
    color: var( --text-color );
}